<!-- To open file, "Open in browser" extensiion in VS Code is needed  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Main Page</title>
    <style>
        /* Center image */
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }
        .center-container img {
            max-width: 20%;
            height: auto;
        }
    </style>
</head>
        <title>Administrator Main Page</title>
</head>
<body>
    <!-- Title -->
    <header style="text-align: left;">
        <h1>Track-IT MasterHD</h1>
        <h2>Administrator Page</h2>
    </header>

    <!-- Temp -->
    <main>
        <p> This will be the page for Admins to log into to acces open tickets that will be generated 
            by other users that will all be loaded into the MySQL DB I set up and auto assigned a ticket number. 
            This page will allow the admins to see how many open tickets there are, who they are assigned to, etc.
            <br>
            <br>
            We as a group can dicuss the nuances and features we would like to add to make the app function. 
        </p>
    </main>

        <!-- Centered Image -->
        <div class="center-container">
            <img src="/Users/robertodonnell/Documents/CISC-371 Project/images/work_in_prog.jpg" alt="Work in Progress">
        </div>

</body>
</html>